@font-face {
    font-family: 'Gelazio';
    src: url('./fonts/Gelasio-Medium.woff') format('woff'),
         url('./fonts/Gelasio-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gelazio';
    src: url('./fonts/Gelasio-Bold.woff') format('woff'),
         url('./fonts/Gelasio-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff') format('woff'),
         url('./fonts/Roboto-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.woff') format('woff'),
         url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

ul, ol {
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    transition: .3s;
}

input {
    height: 44px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0 12px;
    display: block;
    width: 100%;
    outline: none;
    transition: all .3s;
    color: #C9453B;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input:focus {
    border-color: #C9453B;
}

input::placeholder {
    color: rgba(0, 0, 0, .15);
}

.btn {
    display: inline-block;
    border: 1px solid #c9453b;
    background-color: #c9453b;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    padding: 14px 34px 12px;
    transition: .3s;
}

.btn--sm {
    padding: 9px 31px;
}

.btn--lg {
    padding: 17px 45px 16px;
}

.btn:hover {
    background-color: transparent;
    border-color: #fff;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.box-head {
    text-align: center;
    margin-bottom: 50px;
}

.box-head__caption {
    margin-bottom: 20px;
    font-family: 'Gelasio', Arial, Helvetica, sans-serif;
    font-size: 43px;
    line-height: 1.4;
    font-weight: 500;
    color: #000;
}

.box-head__desc {
    max-width: 735px;
    margin: 0 auto;
}

.hero {
    background-image: url(./images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero__content {
    flex-grow: 1;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.hero__caption {
    font-family: 'Gelasio', Arial, Helvetica, sans-serif;
    font-size: 65px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    max-width: 804px;
    margin-bottom: 30px;
}

.hero__desc {
    max-width: 458px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, .6);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}

.header__logo {
    line-height: 0;
}

.header__logo-img {
    max-width: 124px;
    max-height: 36px;
}

.header__list {
    display: flex;
}

.header__item {
    padding: 0 25px;
}

.header__link {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    position: relative;
}

.header__link:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transition: .3s;
}

.header__link:hover:after {
    width: 100%;
}

.header__btn-menu {
    display: none;
}

.popular-location {
    padding: 70px 0;
}

.popular-location__row {
    letter-spacing: -0.36em;
    margin: -15px;
}

.popular-location__col {
    display: inline-block;
    padding: 15px;
    width: 33.33%;
    letter-spacing: normal;
    vertical-align: top;
}

.popular-location__img-wrap {
    display: block;
    line-height: 0;
    padding-bottom: 92%;
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.popular-location__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.popular-location__img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.popular-location__body {
    padding: 35px 27px 33px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.popular-location__name {
    margin-bottom: 10px;
}

.popular-location__link {
    font-family: 'Gelasio', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
}

.popular-location__link:hover {
    color: #c9453b;
}

.special-offers {
    padding: 75px 0 70px;
}

.special-offers__img-wrap {
    display: block;
    line-height: 0;
    margin-bottom: 20px;
}

.special-offers__img {
    width: 100%;
    height: 173px;
    object-fit: cover;
}

.special-offers__name {
    margin-bottom: 8px;
}

.special-offers__link {
    font-family: 'Gelazio', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
}

.special-offers__box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.special-offers__location {
    margin-right: 50px;
}

.special-offers__location-img {
    max-width: 10.86px;
    max-height: 15.2px;
    margin-right: 10px;
    line-height: 0;
}

.special-offers__country {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    width: 80px;
    white-space: nowrap;
    float: right;
}

.special-offers__star-img {
    max-width: 24px;
    max-height: 24px;
    margin-right: 10px;
    line-height: 0;
}

.special-offers__number {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.special-offers__info {
    display: flex;
    margin-bottom: 8px;
}

.special-offers__info-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.special-offers__price {
    display: flex;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: #000;
}

.special-offers__price-info {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.special-offers__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.special-offers__prev,
.special-offers__next {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.special-offers__arrow {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
    padding: 0 45px;
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 75px;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(201, 69, 59, .1);
    opacity: 1;
    transition: .3s;
}

.swiper-pagination-bullet-active {
    background-color: #c9453b;
}

.swiper-slide {
    width: 262px;
}

.news {
    padding: 70px 0;
}

.news__head {
    text-align: center;
    margin-bottom: 56px;
}

.news__title {
    margin-bottom: 20px;
    font-family: 'Gelazio', Arial, Helvetica, sans-serif;
    font-size: 43px;
    line-height: 1.4;
    font-weight: 500;
    color: #000;
}

.news__info {
    max-width: 581px;
    margin: 0 auto;
}

.news__row {
    letter-spacing: -0.36em;
    margin: -16px;
}

.news__col {
    display: inline-block;
    padding: 16px;
    width: 50%;
    letter-spacing: normal;
    vertical-align: top;
}

.news__img-wrap {
    display: block;
    line-height: 0;
    padding-bottom: 72%;
    margin-bottom: 35px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.news__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

.news__img:hover {
    transform: scale(1.1);
}

.news__body {
    text-align: left;
}

.news__name {
    margin-bottom: 10px;
}

.news__link {
    font-family: 'Gelazio', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 500;
    color: #000;
}

.news__link:hover {
    color: #C9453B;
}

.news__text {
    padding-bottom: 10px;
    max-width: 470px;
}

.news__social {
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.5;
}


.news__social:hover,
.news__social-link:hover {
    color: #C9453B;
}

.news__wrap {
    letter-spacing: -0.36em;
    margin: -13.5px;
}

.news__box {
    display: inline-block;
    padding: 13.5px;
    width: 50%;
    letter-spacing: normal;
    vertical-align: middle;
}

.news__img-wrap-box {
    display: block;
    line-height: 0;
    padding-bottom: 77%;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.news__img-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

.news__social-link {
    font-size: 20px; 
    line-height: 1.5;
}

.news__img-box:hover {
    transform: scale(1.1);
}

.footer {
    padding: 70px 0 58px;
    background-color: rgba(38, 148, 153, .04);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    max-width: 124px;
    max-height: 36px;
    margin-bottom: 40px;
}

.footer__label {
    color: #000;
    letter-spacing: .06em;
    margin-bottom: 10px;
}

.footer__email {
    margin-bottom: 20px;
}

.footer__email-link {
    letter-spacing: .06em;
}

.footer__email-link:hover {
    color: #c9453b;
}

.footer__social {
    display: flex;
}

.footer__social-item {
    line-height: 0;
}

.footer__social-item:not(:last-child) {
    margin-right: 27px;
}

.footer__social-link {
    display: block;
}

.footer__social-link:hover {
    transform: scale(1.2);
}

.footer__social-link svg {
    width: 20px;
    height: 20px;
}

.footer__nav {
    max-width: 40%;
    padding: 0 20px;
}

.footer__nav-list {
    display: flex;
    flex-wrap: wrap;
}

.footer__nav-item {
    width: 50%;
    margin-bottom: 20px;
}

.footer__nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .06em;
}

.footer__nav-link:hover {
    color: #c9453b;
}

.footer__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    letter-spacing: .06em;
    margin-bottom: 42px;
}

.footer__form {
    display: flex;
}

.footer__input {
    margin-right: 35px;
    width: 195px;
}

@media (max-width: 1024px) {
    .hero__caption {
        font-size: 50px;
        max-width: 620px;
    }

    .header {
        position: relative;
    }

    .header__logo {
        margin-right: 5px;
    }

    .header__btn-menu {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        flex-shrink: 0;
    }

    .header__line {
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;
        left: 0;
        transition: .3s;
    }

    .header__line:nth-child(1) {
        top: 0;
    }

    .header__line:nth-child(2) {
        top: 9px;
    }

    .header__line:nth-child(3) {
        top: 18px;
    }

    .header__btn-menu--open .header__line:nth-child(1) {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__btn-menu--open .header__line:nth-child(2) {
        display: none;
    }

    .header__btn-menu--open .header__line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .header__btn-booking {
        margin-left: auto;
        margin-right: 15px;
    }

    .header__nav {
        display: none;
    }

    .header__nav--open {
        display: block;
        position: absolute;
        right: 0;
        top: calc(100% + 5px);
        background-color: #000;
        border-radius: 5px;
    }

    .header__list {
        display: block;
        min-width: 140px;
    }

    .header__item {
        padding: 0;
    }

    .header__link {
        display: block;
        padding: 4px 15px;
    }

    .news__col {
        width: 100%;
    }

    .news__text {
        max-width: 100%;
    }

    .footer__wrap {
        flex-wrap: wrap;
    }

    .footer__nav {
        max-width: 60%;
    }

    .footer__subscribe {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .box-head__caption {
        font-size: 32px;
    }

    .header {
        padding-top: 20px;
    }

    .hero__caption {
        font-size: 36px;
        max-width: 445px;
    }

    .popular-location__col {
        width: 100%;
    }

    .news__col {
        width: 100%;
    }

    .news__box {
        width: 100%;
    }

    .news__img-wrap-box {
        padding-bottom: 72%;
    }

    .swiper-pagination-bullets {
        width: 20px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        padding: 15px;
    }

    .footer__contacts {
        margin-bottom: 30px;
    }

    .footer__nav {
        max-width: 100%;
        padding: 0;
    }

    .footer__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .news__box {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .header__btn-booking {
        padding-left: 9px;
        padding-right: 9px;
        margin-right: 5px;
    }

    .header__btn-menu {
        width: 25px;
    }

    .footer__nav {
        margin-bottom: 20px;
    }

    .footer__nav-item {
        width: 100%;
        margin-bottom: 10px;
    }
}
